@model GROCERY.Models.COUPONSBO

@{
    ViewBag.Title = "Coupon Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/Home/Index">Grocery Store</a>
    </li>
    <li>Coupon Management</li>
    <li class="breadcrumb-item active">Add Coupon</li>
</ol>

<h2>Coupons</h2>

@using (Html.BeginForm("Create","Coupon")) 
{
    @Html.AntiForgeryToken()
    
    
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-primary" data-collapsed="0">

                <div class="panel-heading">
                    <div class="panel-title">
                        Add New Coupon
                    </div>

                    <div class="panel-options">
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    </div>
                </div>


                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="product_name" class="control-label">No Of Coupons</label>
                                @Html.TextBoxFor(model => model.count_coupons, new { @class = "form-control", placeholder = "Coupons Count", Required = "Required", type = "Number" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="product_name" class="control-label">Promo Name</label>
                                @Html.TextBoxFor(model => model.PROMO_TEXT, new { @class = "form-control", placeholder = "Name", Required = "Required" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="product_name" class="control-label">Promo Start Date</label>
                                @Html.TextBoxFor(model => model.START_DATE, new { @class = "form-control", placeholder = "Promo Start Date", Required = "Required", type = "date" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="product_name" class="control-label">Promo Expiray Date</label>
                                @Html.TextBoxFor(model => model.EXPIRY_DATE, new { @class = "form-control", placeholder = "Promo Expiry Date", Required = "Required", type = "date" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="product_name" class="control-label">Promo Value</label>
                                @Html.TextBoxFor(model => model.VALUE, new { @class = "form-control", placeholder = "Promo Value", Required = "Required", type = "Number" })
                            </div>
                        </div>
                        <div class="col-md-12">
                                <div class="form-group">
                                    <label for="product_name" class="control-label">Unlock Amount</label>
                                    @Html.TextBoxFor(model => model.UNLOCK_AMOUNT, new { @class = "form-control", placeholder = "Unlock Amount", Required = "Required", type = "Number" })
                                </div>
                            </div>
                    </div>
                    </div>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Reset</button>
                    <button type="submit" class="btn btn-info">Add Promo</button>
                </div>
                </div>
            </div>
        </div>
    
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
